{% extends 'basetemplate.html' %}
{% load static %}

{% block content %}


    <script src="/static/slugify.js/"></script>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Bugs Sheet</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">

                    <a href="{% url 'testing:addbug' id=id%}"  style="background-color: #212529; color: white" class="btn btn-sm btn-outline-secondary"> <i class="fas fa-bug"></i>  Add Bug</a>
                    {#                <a href="{% url 'employee:monthlySheet' %}"  style="background-color: #212529; color: white" class="btn btn-sm btn-outline-secondary"> <i class="fas fa-receipt"></i> Salary Sheet</a>#}


                </div>
            </div>
        </div>

        <table class="table table-bordered">



            <thead>
            <th colspan="5" style="text-align: center; background-color: #F0F8FF">Project Name:  {{  detail.title}}</th>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Bug Title</th>
                <th scope="col">Bug Description</th>
                <th scope="col">Bug Image</th>
                <th> Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for r in detail.bugs.all %}
                <tr>

                    <th scope="row">1</th>
                    <td>{{ r.bug_title }}</td>
                    <td>{{ r.bug_description }}</td>


                    <td>
                        {% if r.bug_pic %}

                            <a href="#popup1"><img src="{{r.bug_pic.url}}" width=100px alt="">
                                <div id="popup1" class="popup">
                                    <a href="#" class="close">&times;</a>
                                    <img src="{{r.bug_pic.url}}" alt="" width=450px height="450px">
                                </div>
                            </a>

                            <a href="#" class="close-popup"></a>

                        {% else %}
                                    <img src="{% static 'default.jpg' %}" style="height: 100px; width: 120px">

{#                            <a href="#popup1"><img src="{% static 'default.jpg' %}" width=100px alt="">#}
{#                                <div id="popup1" class="popup">#}
{#                                    <a href="#" class="close">&times;</a>#}
{#                                    <img src="{% static 'default.jpg' %}" alt="" width=450px>#}
{#                                </div>#}
{#                            </a>#}
{##}
{#                            <a href="#" class="close-popup"></a>#}

                        {% endif %}

                    </td>


                    <td>
                        <a href="{% url 'testing:updatebug' r.id %}" class="btn btn-danger">Update</a>
                        <a href="{% url 'testing:delete_bug' r.id %}" class="btn btn-danger">delete</a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </main>


{% endblock %}