{% extends 'basetemplate.html' %}
{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Testings</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">

{#                <a href="{% url 'testing:form2' %}"  style="background-color: #212529; color: white" class="btn btn-sm btn-outline-secondary"> <i class="fas fa-bug"></i>  Add Bug</a>#}
{#                <a href="{% url 'employee:monthlySheet' %}"  style="background-color: #212529; color: white" class="btn btn-sm btn-outline-secondary"> <i class="fas fa-receipt"></i> Salary Sheet</a>#}


              </div>
            </div>
          </div>

            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>

 <div class="table-responsive-lg">
            <table class="table table-bordered " style="background-color: white">
              <thead class="thead" style=" background-color: #F0F8FF">
                <tr style="color: #212529;">
                      <th>ID</th>
                      <th>Project Title</th>
                      <th>Action</th>
                </tr>

              </thead>
              <tbody id="myTable">
              {% for pro in projects %}
                <tr >
                <td>{{ pro.id }}</td>
                   <td>{{ pro.title }}</td>
                    <td>
{#                        <a href="{% url 'testing:deletebug' pro.id %}"><i style="color: red" class="fas fa-trash fa-lg"></i></a>#}
{#                        <a href="{% url 'testing:updatebug' pro.id %}"><i style="color:green " class="fas fa-user-edit fa-lg"></i></a>#}
                        <a class="btn btn-primary" href="{% url 'testing:Projects_bugs' id=pro.id %}">View</a>
                    </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>

        </main>
      </div>
    </div>




{% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
