{% extends 'basetemplate.html' %}
{% block content %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <form action="{% url 'employee:generatesalaryslip' %}" method="post" >
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Generate Salary Slip </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
            <a href="{% url 'employee:monthlySheet' %}" class="btn btn-sm btn-outline-secondary" style="background-color: #212529; color: white"> <i class="fas fa-arrow-left"></i>  Back</a>
                  <input type="month" id="month" name="month" required style="margin-right: 3px;margin-left: 3px; background-color: #212529; color: white">

                <button type="submit" style="background-color: #212529; color: white" class="btn btn-sm btn-outline-secondary"> <i class="fas fa-receipt"></i>  Generate</button>

              </div>
            </div>
          </div>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>

 <div class="table-responsive-lg">
            <table class="table table-bordered " style="background-color: white">
              <thead class="thead" style="background-color: #F0F8FF">
                <tr style="color: #212529;text-align: center">
                       <th></th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>F Name</th>
                    <th>Salary</th>
                      <th>Leave</th>
                    <th>Addition</th>
                    <th>Deducation</th>

                </tr>

              </thead>
              <tbody id="myTable">

                  {% csrf_token %}

              {% for employee in employee %}
                <tr>
                <td><input type="checkbox" name="employeeList[]" checked value="{{ employee.id }}" /></td>
                   <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.fname }}</td>
                    <td>{{ employee.salary }}</td>
                    <td><input type="number" class="form-control" value="0" name="{{ employee.id }}" ></td>
                <td><input type="number" class="form-control" value="0" name="a{{ employee.id }}" ></td>
                <td><input type="number" class="form-control" value="0" name="s{{ employee.id }}" ></td>

                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </form>
        </main>
      </div>
    </div>




{% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
